.modal_content {
  display: flex;
  flex-direction: column;
	background: rgb(224, 222, 222) !important;
}

.modal_content_info {
	font-size: 20px;
	font-weight: 900;
}

.modal_content_block {
  display: flex;
  justify-content: space-between;
}

.modal_content_block_input {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
}

.modal_content_block_input label{
	margin-bottom: 5px;
	font-weight: 900;
}

.modal_header {
	text-align: center;
	background: rgb(196, 196, 196) !important;
}

.modal_button_segment {
	background: rgb(196, 196, 196) !important;
}

.modal_content_error {
	color: red;

}
