.signInWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInBody {
  border: 2px solid rgba(53, 53, 53, 0.8);
  border-radius: 10px;
  padding: 20px;
  background: rgba(53, 53, 53, 0.5);
  width: 25%;
}

@media all and (max-width: 800px) {
  .signInBody {
    width: 50%;
  }
}
@media all and (max-width: 500px) {
  .signInBody {
    width: 90%;
  }
}
.signInLogo {
  font-family: "Pacifico", cursive;
  font-size: 33px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 10px auto;
}

.signInErrorBlock {
  border-radius: 13px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background: rgba(255, 96, 96, 1);
  color: white;
}

.signInTextInput {
  font-family: "Pacifico", cursive;
}
