.listIssuesBlock {
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.filterComponent {
  display: flex;
  flex-direction: column;
}

.filterComponentInputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

/*-------------*/

.issuesInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.issuesInfoBlockTitle {
  display: flex;
  flex-direction: column;
}

.issuesInfoBlockTitle b {
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px 0;
}

.issuesInfoBlockTitle p {
  margin-bottom: 10px;
  font-size: 17px;
  text-align: center;
  font-family: "Pacifico", cursive;
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px 0;
}

.someSpentTimeInfoAboutBlockId {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Pacifico", cursive;
}

.addButtonBlock {
  margin-right: 65px;
}


