.pageNotFoundBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px 0;
}

.pageNotFoundBlock i {
    margin-bottom: 30px;
}

.infoNotFoundBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px 0;
}

.infoNotFoundBlock p {
    font-size: 20px;
    border-bottom: 2px solid grey;
}