.wrapperBlock {
  height: 100%;
  width: 100%;
  background-image: url("../../sources/background.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

.authorizationBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
}
